

#ignore binaries
whilegame
euclid
helloworld
functions
squareroot
getwellsoon
value
whirled
tigersearch
cheese

#ignore vscode specifics
/.vscode/

#ignore swapfiles
*.swp

#ignore archives
*.zip
*.tar

#ignore temporary exercises
/temp_*/*
