

#ignore binaries
whilegame
euclid
helloworld
functions
squareroot
getwellsoon
value
whirled
tigersearch
cheese
pointers
pointerex_2
pointerex_3
prec
#ignore vscode specifics
/.vscode/
uni.code-workspace

#ignore swapfiles
*.swp

#ignore archives
*.zip
*.tar

#ignore temporary exercises
/temp_*/*

#ignore .pdf's
*.pdf
